@charset "UTF-8";

html {
	font-size: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('../images/background4.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 200px;
}

a {
	color: #000;
	font-size: 0.875rem;
	text-decoration: none;
	display: inline-block;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

li {
	list-style: none;
}

.navigation a {
	position: relative;
	font-size: 0.7em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

/*
::afterでaタグの中身の最後に疑似要素を追加
contentは必要
 */
.navigation a::after {
	content: '';
	/*空文字: インライン要素*/
	position: absolute;
	/* display: block; */
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background-color: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.navigation>.btnLogin_popup {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 0.7em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}

.navigation>.btnLogin_popup:hover {
	background-color: #fff;
	color: #232836;
}

header {
	/* 画面から見た位置で要素を固定 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* background-color: red; */
	/*
    flexbox: その直下の要素が並列になる
    justify-content: flexアイテムの配置を指定している（今回は両端揃え）
    align-items: flexアイテムを縦軸で見たときに上下のどこでそろえるか指定するプロパティ
    z-index: 数字が大きいほうが上にくる
    */
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

/* ロゴ */
/*header .logo  a{*/
/*	padding: 0 20px;*/
/*	font-size: 18px;*/
/*	color: #fff;*/
/*	letter-spacing: .2em;*/
/*}*/
/* メニュー */
/*header ul {*/
/*	padding: 0 30px;*/
/*}*/
/*header li {*/
/*	display: inline-block;*/
/*	padding: 0 6px;*/
/*	font-size: 14px;*/
/*	letter-spacing: .1em;*/
/*}*/
/*header li a {*/
/*	color: #fff;*/
/*}*/
/* メニューのリンクホバーで線 */
/*header li a:hover {*/
/*	text-decoration: underline;*/
/*}*/

main {

	max-width: 1032px;
	margin: 0 auto;

}

/* ハートアイコンを赤くする */

.fav {

	content: "";
	background-repeat: no-repeat;
	background-image: url("images/icon.png");
	cursor: pointer;

}

.icon {

	cursor: pointer;

}

/* 削除ボタン */

.button-area {

	display: flex;

}

.button input {

	background: red;
	color: #fff;
	border: none;
	pading: 50px;
	border-radius: 2px;
	cursor: pointer;
	margin: 10px;

}

/* 編集ボタン */

.edit {

	border: none;
	background-color: rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.8);
	/* background: transparent; */
	/* 背景を透明にしてる */
	backdrop-filter: blur(20px);
	color: #fff;
	border-radius: 3px;
	min-width: 120px;
	height: 2.8em;
	padding: 10px;
	cursor: pointer;

}

/* セレクトボックス */

.selectbox-area {
	display: inline-flex;
	align-items: center;
	position: relative;
	margin-left: 20px;
	margin-bottom: 40px;
}

.selectbox-area::after {
	position: absolute;
	right: 15px;
	width: 10px;
	height: 7px;
	background-color: #535353;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	content: '';
	pointer-events: none;
}


.selectbox-area select {
	appearance: none;
	min-width: 150px;
	height: 2.8em;
	padding: .4em calc(.8em + 30px) .4em .8em;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	color: #333333;
	font-size: 1em;
	cursor: pointer;
}

/* 追加　テーブルの背景 */
table {

	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;

}



table th,
table td {

	width: 20%;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	border: none;
}

/* 追加　テーブルの背景 */

table tr {


	min-width: 250px;
	background-color: rgba(0, 0, 0, 0.8);
	/* background: transparent; */
	/* 背景を透明にしてる */
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	/* margin: 5px; */
	align-items: center;
	overflow: hidden;
	border-bottom: solid 1px #fff;
}

header {
    /* 画面から見た位置で要素を固定 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(0, 0, 0, 1);
    /*
    flexbox: その直下の要素が並列になる
    justify-content: flexアイテムの配置を指定している（今回は両端揃え）
    align-items: flexアイテムを縦軸で見たときに上下のどこでそろえるか指定するプロパティ
    z-index: 数字が大きいほうが上にくる
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    /* 選択できないようにする */
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 0.7em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/*
::afterでaタグの中身の最後に疑似要素を追加
contentは必要
 */
.navigation a::after {
    content: '';/*空文字: インライン要素*/
    position: absolute;
    /* display: block; */
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation > .btnLogin_popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.7em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation >.btnLogin_popup:hover {
    background-color: #fff;
    color: #232836;
}
h2{
	margin: 0;
	font-size: 2em;
	
}